<ion-view>
  <ion-content ng-controller="addCotacaoCtrl">
    <div class="bar bar-header">
      <a ng-click="cotacaoEmAbertoParam()" ui-sref="menuClientes({clienteId: data.clienteId})" class="button icon-left ion-chevron-left button-clear button-dark"></a>
      <a class="button icon-left">
        <img src="img/logo-tinny.png" height="50" alt="" title="" /> </a>
      <div class="h1 title">Cotação</div>

      <a href="#/menuClientes" class="open-panel config-nav"><i class="fa fa-bars"></i></a>
    </div>
    <div class="container sidemargin padding-bottom">
      <div class="forms">
        <form name="alterarCotacaoForm">
          <ul>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <label for="nCotacao">Número da Cotação</label>
                  <input disabled type="text" value="{{cotacao.id}}" name="nCotacao" id="nCotacao">
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <label for="cliente">Cliente</label>
                  <input disabled type="text" value="{{cotacaoCliente.id}} - {{cotacaoCliente.nome}}" name="cliente" id="cliente">
                </div>
              </div>
            </li>

            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="condicaoPagamento">Condição de Pagamento</label>
                    <select ng-model="cotacao.condPAGTO" required>
                      <option value="{{cotacao.condPAGTO}}" selected>{{cotacao.condPAGTOdesc}}</option>
                      <!-- <option ng-show="condPgmt.$pristine" value="" selected>Escolha o tipo de condição de pagamento</option> -->
                      <option name="condPgmt" ng-repeat="item in condPgmtSeparado" value="{{item.id}}">{{item.nome}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="tabelaDePreco">Tabela de Preço</label>
                    <select ng-model="cotacao.tabelaID">
                      <option value="{{cotacao.tabelaID}}" selected>{{cotacao.tabelaDESC}}</option>
                      <!-- <option ng-show="tabelaPreco.$pristine" value="" selected>Escolha o tipo de tabela de preço</option> -->
                      <option name="tabelaPreco" ng-repeat="item in condTabelaPrecosSeparado" value="{{item.id}}">{{item.nome}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="transportadora">Transportadora</label>
                    <select ng-model="cotacao.transpID">
                      <option value="{{cotacao.transpID}}" selected>{{cotacao.transpDESC}}</option>
                      <!-- <option ng-show="transportadora.$pristine" value="" selected>Escolha o tipo de transportadora</option> -->
                      <option name="transportadora" ng-repeat="item in transSeparado" value="{{item.id}}">{{item.nome}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="frete">Tipo de Frete</label>
                    <select ng-model="cotacao.freteID">
                      <!-- <option value="{{cotacao.freteID}}" selected>{{cotacao.freteDESC}}</option> -->
                      <!-- <option ng-show="tipoFrete.$pristine" value="" selected>Escolha o tipo de frete</option> -->
                      <option name="tipoFrete" ng-repeat="item in paraListaSeparado" value="{{item.id}}">{{item.nome}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class="item-content">
                <div class="item-inner">
                  <label for="observacoes">Observações</label>
                  <textarea ng-model="cotacao.observacoes" name="observacoes" id="observacoes" cols="30" rows="5">{{cotacaoDados.observacoes}}</textarea>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <a class="button button-full  button-balanced" ng-click="alterarCotacao()">Salvar & Incluir Produto </a>
                </div>
              </div>
            </li>


          </ul>
        </form>
        </div>
      </div>
      <!-- fim .container -->
  </ion-content>
</ion-view>
