<ion-view>
  <ion-content ng-controller="clienteAddCtrl">

    <div class="bar bar-header">
      <a href="javascript:history.back()" class="button icon-left ion-chevron-left button-clear button-dark"></a>
      <a class="button icon-left" href="#/inicio">
        <img src="img/logo-tinny.png" height="50" alt="" title="" /> </a>
      <div class="h1 title">Adicionar Cliente</div>

      <a href="#/inicio" data-panel="right" class="open-panel config-nav"><i class="fa fa-bars"></i></a>
    </div>


    <div class="container  sidemargin padding-bottom">
      <div class="forms">
        <form>
          <ul>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="servodpr">Tipo de Cliente</label>
                    <select name="servodpr" ng-model="cliente.NEWTIPOCLIENTE" id="servodpr">
                      <option value="Revendedor">Revendedor</option>
                      <option value="Consumidor Final">Consumidor Final</option>
                      <option value="Produto Rural">Produto Rural</option>
                      <option value="Salariado">Salariado</option>
                      <option value="Exportador">Exportador</option>
                    </select>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <label for="">Tipo de Pessoa</label>
              <div class="row">
                <div class="col-50 radiobuttom">

                  <label class="label-radio item-content">
                    <input type="radio" name="tipoPessoa" ng-model="cliente.NEWTIPOPESSOA" value="Física">
                    <div class="item-inner">
                      <div class="item-title">Física</div>
                    </div>
                  </label>
                </div>

                <div class="col-50 radiobuttom">
                  <label class="label-radio item-content">
                    <input type="radio" name="tipoPessoa" ng-model="cliente.NEWTIPOPESSOA" value="Jurídica">
                    <div class="item-inner">
                      <div class="item-title">Jurídica</div>
                    </div>
                  </label>
                </div>
              </div>

            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="cpfcnpj">CPF / CNPJ</label>
                    <input type="text" name="cnpj" ng-model="cliente.NEWCNPJ" id="cnpj">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="razaoSocial">Razão Social</label>
                    <input type="text" name="razaoSocial" ng-model="cliente.NEWRAZAOSOCIAL" id="razaoSocial">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="inscricaoEstadual">Inscrição Estadual</label>
                    <input type="text" name="inscricaoEstadual" ng-model="cliente.NEWINSCRICAOESTADUAL" id="inscricaoEstadual">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="simplesNacional">Simples Nacional</label>
                    <br>
                    <label class="label-switch">
                      <input type="checkbox" ng-model="cliente.NEWSIMPLESNACIONAL">
                      <div class="checkbox"></div>
                    </label>
                  </div>
                </div>
            </li>

            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="telefone1">Telefone 1</label>
                    <input type="text" name="telefone1" ng-model="cliente.NEWTELEFONE" id="telefone1">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="telefone2">Telefone 2</label>
                    <input type="text" name="telefone2" ng-model="cliente.NEWTELEFONE2" id="telefone2">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="email">Email</label>
                    <input type="mail" name="email" ng-model="cliente.NEWEMAIL" id="email">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="contato">Contato</label>
                    <input type="text" name="contato" ng-model="cliente.NEWCONTATONOME" id="contato">
                  </div>
                </div>
            </li>

            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <button class="button button-full  button-balanced" ng-click="adicionarCliente()"> Salvar </button>
                  </div>
                </div>
            </li>
          </ul>
        </form>
        </div>

        </div>
        <!-- fim .container -->
  </ion-content>
</ion-view>
