<ion-view>
  <ion-content ng-controller="alterarProdutoInternaCtrl">
    <div class="bar bar-header">
      <a href="javascript:history.back()" class="button icon-left ion-chevron-left button-clear button-dark"></a>
      <a class="button icon-left">
        <img src="img/logo-tinny.png" height="50" alt="" title="" /> </a>
      <div class="h1 title">Item</div>
      <!--<a href="#/inicio" data-panel="right" class="open-panel config-nav"><i class="fa fa-bars"></i></a>-->
    </div>
    <div class="container sidemargin padding-bottom">
      <div class="forms">
        <form name="formProduto">
          <ul>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="nCotacao">Número da Cotação</label>
                    <input disabled type="text" value="{{produto.cotacaoID}}" name="cotacaoId" id="cotacaoId">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="cliente">Cliente</label>
                    <input disabled type="text" value="{{produto.clienteID}} - {{produto.clienteNOME}}" name="clienteId" id="clienteId">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="Produto">Produto</label>
                    <input disabled type="text" value="{{produto.produtoID}}" name="produtoId" id="produtoId">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="Descricao">Descrição</label>
                    <input disabled type="text" value="{{produtoData[2]}}" name="produtoNome" id="produtoNome">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="estoque">Em Estoque</label>
                    <input disabled type="text" value="{{produtoData[8]}}" name="produtoEstoque" id="produtoEstoque">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="transito">Em Trânsito</label>
                    <input disabled type="text" value="" name="produtoTransito" id="produtoTransito">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="quantidade">Quantidade</label>
                    <input type="number" value="{{produto.produtoQTD}}" name="produtoQTD" ng-model="produto.produtoQTD" id="produtoQTD" ng-change="calculaTotalProduto()" required>
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="quantidade">Valor Unit.</label>
                    <input type="number" disabled value="{{produto.precoUNITARIO}}" name="precoUNITARIO" ng-model="produto.precoUNITARIO" id="precoUNITARIO" required>
                  </div>
                </div>
            </li>

            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="transito">Valor Total do Item na Cotação</label>
                    <input disabled type="text" value="{{produto.totalPRODUTO}}" ng-model="produto.totalPRODUTO" name="totalProduto" id="totalProduto">
                  </div>
                </div>
            </li>

            </br><a href="#/imposto"><button class="tabela-precos" >Ver Imposto</button></a></br>

            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <a class="button button-full  button-balanced" ng-click="cotacaoitemalterar()" ng-disabled="formProduto.$invalid"> Gravar Item </a>
                  </div>
                </div>
            </li>

          </ul>
        </form>
        </div>
        </div>
        <!-- fim .container -->
  </ion-content>
</ion-view>
