<ion-view>
  <ion-content ng-controller="clienteCtrl">
    <div class="bar bar-header">
      <!-- <a ng-click="cotacaoEmAbertoParam()" ui-sref="menuClientes({clienteId: data.clienteId})" class="button icon-left ion-chevron-left button-clear button-dark"></a> -->
      <a href="javascript:history.back()" class="button icon-left ion-chevron-left button-clear button-dark"></a>
      <a class="button icon-left">
        <img src="img/logo-tinny.png" height="50" alt="" title="" /> </a>
      <div class="h1 title">Alterar Cotação</div>
      <a href="" class="button icon-left ion-navicon-round button-clear button-dark" ng-click="actionMenuAlterarCotacao()"></a>
    </div>
    <div class="container sidemargin padding-bottom">
      <div class="forms">
        <form name="incluirCotacaoForm">
          <ul>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <label for="nCotacao">Número da Cotação</label>
                  <input disabled type="text" value="{{cotacaoDados.idCotacao}}" name="nCotacao" id="nCotacao">
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <label for="cliente">Cliente</label>
                  <input disabled type="text" value="{{cotacaoDados.idCliente}} {{cotacaoDados.nomeCliente}}" name="cliente" id="cliente">
                </div>
              </div>
            </li>
            <!-- <li>
                        <div class="item-content">
                          <div class="item-inner">
                            <div class="">
                              <label for="nome">Nome</label>
                              <input disabled type="text" value="{{cotacaoDados.nomeCliente}}" name="nome" id="nome">
                            </div>
                          </div>
                      </li> -->
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="condicaoPagamento">Condição de Pagamento</label>
                    <select ng-model="cotacaoDados.condPgmt.id" required>
                      <option ng-show="condPgmt.$pristine" value="{{cotacaoDados.condPgmt.id}}" selected>{{cotacaoDados.condPgmt.nome}}</option>
                      <option name="condPgmt" ng-repeat="item in condPgmtSeparado" value="{{item.id}}">{{item.nome}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="tabelaDePreco">Tabela de Preço</label>
                    <select ng-model="cotacaoDados.tabelaPreco.id">
                      <option ng-show="tabelaPreco.$pristine" value="{{cotacaoDados.tabelaPreco.id}}" selected>{{cotacaoDados.tabelaPreco.nome}}</option>
                      <option name="tabelaPreco" ng-repeat="item in condTabelaPrecosSeparado" value="{{item.id}}">{{item.nome}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="transportadora">Transportadora</label>
                    <select ng-model="cotacaoDados.transportadora.id">
                      <option ng-show="transportadora.$pristine" value="{{cotacaoDados.transportadora.id}}" selected>{{cotacaoDados.transportadora.nome}}</option>
                      <option name="transportadora" ng-repeat="item in transSeparado" value="{{item.id}}">{{item.nome}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="frete">Tipo de Frete</label>
                    <select ng-model="cotacaoDados.tipoFrete.id">
                      <option ng-show="tipoFrete.$pristine" value="{{cotacaoDados.tipoFrete.id}}" selected>{{cotacaoDados.tipoFrete.nome}}</option>
                      <option name="tipoFrete" ng-repeat="item in paraListaSeparado" value="{{item.id}}">{{item.nome}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="observacoes">Observações</label>
                    <textarea ng-model="cotacaoDados.observacoes" name="observacoes" id="observacoes" cols="30" rows="5">{{cotacaoDados.observacoes}}</textarea>
                  </div>
                </div>
            </li>

            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <a class="button button-full  button-balanced" ng-click="alterarCotacaoParam()" ng-disabled="alterarCotacaoForm.$invalid"> Gravar Cotação </a>
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <a class="button button-full  button-assertive" ng-click="excluirCotacao()"> Excluir Cotação </a>
                  </div>
                </div>
            </li>
          </ul>
        </form>
        </div>
        </div>
        <!-- fim .container -->
  </ion-content>
</ion-view>
