<ion-view>
  <ion-content ng-controller="listaClienteCtrl">
    <div class="bar bar-header">
      <!-- <a  href="#/loginhome"  class="button icon-left ion-chevron-left button-clear button-dark"> </a> -->
      <a class="button icon-left" ui-sref="inicio"><img src="img/logo.png" width="180" /> </a>
      <!-- <div class="h1 title">Clientes</div> -->

      <!-- <a href="#/inicio" data-panel="right" class="open-panel config-nav"><i class="fa fa-bars font-amarelo"></i></a> -->
    </div>
    <div class="bar bar-subheader bg-dark">
      <a href="javascript:history.back()" class="button icon-left ion-chevron-left button-clear"></a>
      <h2 class="title font-branco">Editar Perfil</h2>
    </div>
    <div class="container">
      <div class="page_content">
        <div class="content-block">
        <div class="row">
          <div class="col col-50 col-offset-25 text-center">
            <a  href="#">
                <img class="img-round"   src="img/users/photo3.jpg">
            </a>    
            <a class="button button-full btn-vermelho"><i class="fa fa-camera"></i> Alterar foto</a>
          </div>
        </div>
          
        <form class="ajax-submit" ng-submit="validaVendedor()">
            <div class="list separated-form">
              <label class="item item-input">
                <span class="input-label"><i class="fa fa-user font-amarelo"></i> Usuário</span>
                <input type="text" value="Luciana Martinhs">
              </label>
              <label class="item item-input">
                <span class="input-label"><i class="fa fa-lock font-amarelo"></i> Nova Senha</span>
                <input type="password" placeholder="">
              </label>
              <label class="item item-input">
                <span class="input-label"><i class="fa fa-lock font-amarelo"></i> Repetir Senha</span>
                <input type="password" placeholder="">
              </label>
              <label class="item item-input">
                <span class="input-label"><i class="fa fa-paper-plane font-amarelo"></i> Email</span>
                <input type="text" value="luciana.martins@email.com">
              </label>
            </div>
            <div class="row ">
              <div class="col">
                <button class="button button-full btn-laranja">Salvar</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
    <!-- fim .container -->
  </ion-content>
</ion-view>
