<ion-view>
  <ion-content ng-controller="listaClienteCtrl">
    <div class="bar bar-header">
      <!-- <a  href="#/loginhome"  class="button icon-left ion-chevron-left button-clear button-dark"> </a> -->
      <a class="button icon-left" ui-sref="inicio">
        <img src="img/logo-tinny.png" height="50" /> </a>
      <div class="h1 title">Clientes</div>

      <a href="#/inicio" data-panel="right" class="open-panel config-nav"><i class="fa fa-bars"></i></a>
    </div>
    <div class="container margin-bottom clientes">
      <div class="page_content fullwidth">
        <p class="paragraph_white">Informe o CNPJ, Código, Razão Social, ou Nome Fantasia para buscar o cliente desejado.</p>
        <div class="searchform">
          <form id="SearchForm" method="POST" ng-submit="listarClientes()">
            <input type="text" name="keyword" class="search_input" placeholder="Buscar Clientes" ng-model="cliente.CLIENTEPESQ" />
            <button type="submit" class="search_submit" ng-model="checked">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
        <a href="#/addCliente" class="form_submit"><i class="fa fa-users"></i>Adicionar Novo Cliente</a>

        <!-- Start NG-REPEAT -->
        <ul class="features_list_detailed" ng-if="status == 'S' ">
          <li ng-repeat="item in separadoItem track by $index">
            <!-- <a ui-sref="menuClientes({clienteId:item.idCliente})" ng-click="cotacaoEmAberto(item.idCliente, item.nome)"> -->
            <!-- <a href="" ng-click=""> -->
              <div class="feat_small_details">
                <h4 class="title-itensList">{{item.nome}} </h4>
                <ul class="detalhes-list">
                  <li><b>Cód:</b> {{item.idCliente}} -- <b>CPF / CNPJ: </b> {{item.cnpj}} </li>
                  <li><b>Cotações em Aberto: </b>{{item.cotacaoEmAberto}}</li>
                </ul>
              </div>
              <a ng-click="salvaIDCliente(item.idCliente,item.uf)"><div class="view_more"><i class="fa fa-bars fa-2x"></i></div></a>
            <!-- </a> -->
          </li>
        </ul>
        <!-- Stop NG-REPEAT -->

      </div>
    </div>
    <!-- fim .container -->
  </ion-content>
</ion-view>
