<ion-view>
  <ion-content ng-controller="configCtrl">
    <div class="bar bar-header">
      <a href="javascript:history.back()" class="button icon-left ion-chevron-left button-clear button-dark"> </a>
      <a class="button icon-left">
        <img src="img/logo-tinny.png" height="50" alt="" title="" /> </a>

      <div class="h1 title">Configuração</div>
    </div>
    <div class="container  margin-bottom">
      <form class="form-config" ng-submit="salvarConfig()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Licença</span>
          <input type="text" placeholder="" ng-model="configuracao.licenca">
        </label>

        <button class="button button-full  button-balanced" type="submit"> Salvar </button>
      </div>
      </form>
    </div>
    <!-- fim .container -->


  </ion-content>
</ion-view>
