<ion-view>
  <ion-content ng-controller="descontosCtrl">
    <div class="bar bar-header">
      <a href="#/menuClientes" class="button icon-left ion-chevron-left button-clear button-dark"></a>
      <a class="button icon-left">
        <img src="img/logo-tinny.png" height="50" alt="" title="" /> </a>
      <div class="h1 title">Descontos</div>

      <!-- <a href="#/inicio" data-panel="right" class="open-panel config-nav"><i class="fa fa-bars"></i></a> -->

    </div>
    <div class="container clientes">
      <div class="forms">
        <form style="margin: 20px;"> 
          <ul>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="desconto1">Desconto 1</label>
                    <input type="text" ng-model="cotacao.desconto1" name="desconto1" id="desconto1">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="desconto2">Desconto 2</label>
                    <input type="text" ng-model="cotacao.desconto2" name="desconto2" id="desconto2">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="desconto3">Desconto 3</label>
                    <input type="text" ng-model="cotacao.desconto3" name="desconto3" id="desconto3">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="desconto4">Desconto 4</label>
                    <input type="text" ng-model="cotacao.desconto4" name="desconto3" id="desconto4">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <a class="button button-full  button-balanced" ng-click="alterarCotacao()"> Salvar </a>
                  <!-- Needs fixing! -->
                </div>
            </li>
          </ul>
        </form>
        </div>
      </div>
      <!-- fim .container -->
  </ion-content>
</ion-view>
