<ion-view>
  <ion-content ng-controller="detalheClienteCtrl">

    <div class="bar bar-header">
      <a href="javascript:history.back()" class="button icon-left ion-chevron-left button-clear button-dark"></a>
      <a class="button icon-left" href="#/inicio">
        <img src="img/logo-tinny.png" height="50" alt="" title="" /> </a>
      <div class="h1 title">Detalhes Clientes</div>
      <!-- <a id="edit" href="#" class="config-nav"  ng-model="checked"><i class="fa fa-edit"></i></a> -->
      <a href="#/menuClientes" data-panel="right" class="open-panel config-nav"><i class="fa fa-bars"></i></a>
    </div>


    <div class="container  padding-bottom">

      <div class="page_content fullwidth nomargin forms">

        <!-- <a href="#" class="saveEdit"><i class="fa fa-check"></i></a> -->
        <div class="card">
          <div class="card-header">Código:</div>
          <div class="card-content">
            <div class="card-content-inner">
              <input type="text" class="inputdisable" value="{{IDCLIENTE}}" disabled>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">Nome:</div>
          <div class="card-content">
            <div class="card-content-inner">
              <input type="text" class="inputdisable" value="{{clienteDados[3]}}" disabled>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header"><font color="#c0392b">Razão Social</font></div>
          <div class="card-content">
            <div class="card-content-inner">
              <input type="text" class="inputdisable border-1" ng-model="cliente.RAZAOSOCIAL" value="{{clienteDados[2]}}">

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">Endereço</div>
          <div class="card-content">
            <div class="card-content-inner">
              <input type="text" class="inputdisable" value="{{clienteDados[4]}}" disabled>
            </div>
          </div>
        </div>

        <div class="row no-gutter">
          <div class="col-50">

            <div class="card">
              <div class="card-header">Número</div>
              <div class="card-content">
                <div class="card-content-inner">
                  <input type="text" class="inputdisable" value="{{clienteDados[5]}}" disabled>
                </div>
              </div>
            </div>
          </div>
          <div class="col-50">

            <div class="card">
              <div class="card-header">Complemento</div>
              <div class="card-content">
                <div class="card-content-inner">
                  <input type="text" class="inputdisable" value="{{clienteDados[6]}}" disabled>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="card">
          <div class="card-header">Bairro</div>
          <div class="card-content">
            <div class="card-content-inner">
              <input type="text" class="inputdisable" value="{{clienteDados[7]}}" disabled>
            </div>
          </div>
        </div>

        <div class="row no-gutter">
          <div class="col-50">
            <div class="card">
              <div class="card-header">Município</div>
              <div class="card-content">
                <div class="card-content-inner">
                  <input type="text" class="inputdisable" value="{{clienteDados[8]}}" disabled>
                </div>
              </div>
            </div>
          </div>
          <div class="col-50">
            <div class="card">
              <div class="card-header">UF</div>
              <div class="card-content">
                <div class="card-content-inner">
                  <input type="text" class="inputdisable" value="{{clienteDados[9]}}" disabled>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="card">
          <div class="card-header"><font color="#c0392b">Telefone</font></div>
          <div class="card-content">
            <div class="card-content-inner">
              <input type="text" class="inputdisable border-1" ng-model="cliente.TELEFONE" value="{{clienteDados[10]}}">
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header"><font color="#c0392b">E-mail</font></div>
          <div class="card-content">
            <div class="card-content-inner">
              <input type="text" class="inputdisable  border-1" ng-model="cliente.EMAIL" value="{{clienteDados[11]}}">
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">CNPJ</div>
          <div class="card-content">
            <div class="card-content-inner">
              <input type="text" class="inputdisable" value="{{clienteDados[12]}}" disabled>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">I.Estadual</div>
          <div class="card-content">
            <div class="card-content-inner">
              <input type="text" class="inputdisable" value="{{clienteDados[13]}}" disabled>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">Vendedor</div>
          <div class="card-content">
            <div class="card-content-inner">
              <input type="text" class="inputdisable" value="{{clienteDados[14]}}" disabled>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">Observações</div>
          <div class="card-content">
            <div class="card-content-inner">
              <textarea name="" id="" cols="30" rows="5" class="inputdisable" disabled>
                {{clienteDados[15]}}
                {{clienteDados[17]}}
              </textarea>
            </div>
          </div>
        </div>
        <button class="button button-full  button-balanced" ng-click="clienteAtualizaCadastro()"> Salvar </button>
      </div>
      <!-- FIm .page_content -->


    </div>
    <!-- fim .container -->

  </ion-content>
</ion-view>
