<ion-view>
  <ion-content ng-controller="impostoCtrl">

    <div class="bar bar-header">
      <a href="javascript:history.back()" class="button icon-left ion-chevron-left button-clear button-dark"></a>
      <a class="button icon-left" href="#/inicio">
        <img src="img/logo-tinny.png" height="50" alt="" title="" /> </a>
      <div class="h1 title">Imposto Produto</div>

      <!-- <a href="#/inicio" data-panel="right" class="open-panel config-nav"><i class="fa fa-bars"></i></a> -->

    </div>


    <div class="container">

      <div class="card">
        <div class="card-header">Produto</div>
        <div class="card-content">
          <div class="card-content-inner">{{impostoLista[11]}} - {{impostoLista[12]}}</div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">Alíquota Interna ICMS</div>
        <div class="card-content">
          <div class="card-content-inner">{{impostoLista[2]}}</div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">Alíquota Externa ICMS</div>
        <div class="card-content">
          <div class="card-content-inner">{{impostoLista[3]}}</div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">Valor ICMS (Unitário)</div>
        <div class="card-content">
          <div class="card-content-inner">{{impostoLista[4]}}</div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">Alíquota IPI</div>
        <div class="card-content">
          <div class="card-content-inner">{{impostoLista[5]}}</div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">Valor IPI (Unitário)</div>
        <div class="card-content">
          <div class="card-content-inner">{{impostoLista[6]}}</div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">Base de Calculo ST</div>
        <div class="card-content">
          <div class="card-content-inner">{{impostoLista[7]}}</div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">Valor ST</div>
        <div class="card-content">
          <div class="card-content-inner">{{impostoLista[8]}}</div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">Fator ST  (Unitário)</div>
        <div class="card-content">
          <div class="card-content-inner">{{impostoLista[9]}}</div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">Valor Final Produto  (Unitário)</div>
        <div class="card-content">
          <div class="card-content-inner">{{impostoLista[10]}}</div>
        </div>
      </div>

    </div>
    <!-- fim .container -->


  </ion-content>
</ion-view>
