<ion-view view-title="">

<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon font-amarelo" menu-toggle="left"></button>  
      
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <div class="list list-inset">
      
          <div class="item">
            Raiders of the Lost Ark
          </div>
      
          ...
      
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

</ion-view>


