<ion-view>
  <ion-content ng-controller="inserirItemCotacaoCtrl">
    <div class="bar bar-header">
      <a href="#/itensCotacao" class="button icon-left ion-chevron-left button-clear button-dark"></a>
      <a class="button icon-left" ui-sref="inicio">
        <img src="img/logo-tinny.png" height="50" /> </a>
      <div class="h1 title">Inserir Itens</div>

        <!-- <a ui-sref="#/inicio" data-panel="right" ui-sref="login" class="open-panel config-nav"><i class="fa fa-bars"></i></a> -->
    </div>
    <div class="container  margin-bottom">
      <div class="searchform">
        <form id="SearchForm" method="POST" ng-submit="listarProdutos()">
          <input type="text" name="keyword" value="" class="search_input" placeholder="Buscar Produtos" ng-model="produto.PRODUTOPESQ" >
          <button type="submit" class="search_submit" ng-model="checked">
            <i class="fa fa-search"></i>
          </button>
        </form>
        <button class="bt-barcode" ng-click="scan()"><i class="fa fa-barcode"></i></button>
        <button class="produtos-em-destaque" ng-click="listarProdutosDestaque()">Produtos em destaque</button>
      </div>

      <ul class="features_list_detailed" ng-if="status == 'S' ">
        <!-- START NG-REPEAT -->
        <li ng-repeat="item in separadoItem track by $index">
          <a ng-click="alteraProduto(item.cod)">
            <div class="feat_small_icon">
              <img src="{{item.outro}}" width="100%" alt="" title="" />
            </div>
            <div class="feat_small_details">
              <h4 class="title-itensList">{{item.nome}} {{item.unid}}</h4>
              <ul class="detalhes-list">
                <li><b>Cód:</b> {{item.cod}}</li>
              </ul>
            </div>
            <div class="view_more"><i class="fa fa-plus-circle fa-2x"></i></div>
          </a>
        </li>
      </ul>
      <!-- END NG-REPEAT -->
    </div>
    <!-- fim .container -->
  </ion-content>
</ion-view>
