<ion-view>
  <ion-content ng-controller="clienteCtrl">
    <div class="bar bar-header">
      <a href="javascript:history.back()" class="button icon-left ion-chevron-left button-clear button-dark"></a>
      <a class="button icon-left">
        <img src="img/logo-tinny.png" height="50" alt="" title="" /> </a>
      <div class="h1 title">Inserir itens</div>

      <a ui-sref="menu" data-panel="right" ui-sref="login" class="open-panel config-nav"><i class="fa fa-bars"></i></a>
    </div>
    <div class="container sidemargin padding-bottom">
      <div class="forms">
        <form name="formProduto">
          <ul>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="nCotacao">Número da Cotação</label>
                    <input disabled type="text" value="{{data.cotacaoId}}" name="cotacaoId" id="cotacaoId">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="cliente">Cliente</label>
                    <input disabled type="text" value="{{data.clienteId}}" name="clienteId" id="clienteId">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="Produto">Produto</label>
                    <input disabled type="text" value="{{cotacaoDados.produtoId}}" name="produtoId" id="produtoId">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner" ng-controller="produtoCtrl">
                  <div class="">
                    <label for="Descricao">Descrição</label>
                    <input disabled type="text" value="{{cotacaoDados.produtoNome}}" name="produtoNome" id="produtoNome">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner" ng-controller="produtoCtrl">
                  <div class="">
                    <label for="estoque">Em Estoque</label>
                    <input disabled type="text" value="{{cotacaoDados.produtoEstoque}}" name="produtoEstoque" id="produtoEstoque">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner" ng-controller="produtoCtrl">
                  <div class="">
                    <label for="transito">Em Trânsito</label>
                    <input disabled type="text" value="{{cotacaoDados.produtoTransito}}" name="produtoTransito" id="produtoTransito">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner" ng-controller="produtoCtrl">
                  <div class="" ng-init="cotacaoDados.produtoQuantCot=1;cost=2">
                    <label for="quantidade">Valor Unit.</label>
                    <input type="number" value="{{cotacaoDados.produtoQuantCot}}" name="produtoQuantCot" ng-model="cotacaoDados.produtoQuantCot" id="produtoQuantCot" ng-change="calculaTotalProduto()" required>
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner" ng-controller="produtoCtrl">
                  <div class="" ng-init="cotacaoDados.produtoQuantCot=1;cost=2">
                    <label for="quantidade">Quantidade</label>
                    <input type="number" value="{{cotacaoDados.produtoQuantCot}}" name="produtoQuantCot" ng-model="cotacaoDados.produtoQuantCot" id="produtoQuantCot" ng-change="calculaTotalProduto()" required>
                  </div>
                </div>
            </li>

            <li>
              <div class="item-content">
                <div class="item-inner" ng-controller="produtoCtrl">
                  <div class="">
                    <label for="transito">Valor Total do Item na Cotação</label>
                    <input disabled type="text" value="{{cotacaoDados.produtoValorTotal}}" ng-model="cotacaoDados.produtoValorTotal" name="produtoValorTotal" id="produtoValorTotal">
                  </div>
                </div>
            </li>


            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <a class="button button-full  button-balanced" ng-click="cotacaoItemIncluir()" ng-disabled="formProduto.$invalid"> Gravar Item </a>
                  </div>
                </div>
            </li>

          </ul>
        </form>
        </div>
        </div>
        <!-- fim .container -->
  </ion-content>
</ion-view>
