<ion-view>
  <ion-content ng-controller="itensCotacaoCtrl">

    <div class="bar bar-header">
      <a href="#/addCotacao" class="button icon-left ion-chevron-left button-clear button-dark"></a>
      <a class="button icon-left">
        <img src="img/logo-tinny.png" height="50" alt="" title="" /> </a>
      <div class="h1 title">Itens Cotação</div>

      <a ng-click="opcoesCotacao()" class="open-panel config-nav open-picker"><i class="fa fa-bars"></i></a>
    </div>
    <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefreshItensCotacao()">
    </ion-refresher>
    <div class="container clientes">
      <div class="page_content fullwidth">
        <center><h4 class="paragraph_white title">{{cotacao.id}} - {{cotacao.nomeCliente}}</h4></center>
        <!-- <h3 class="paragraph_white text-center">Cotação: {{data.cotacaoId}}</h3> -->
        </br></br><center><span style="color: #FFFFFF; font-size: 14px;"><b>Total: </b>R$ {{totalCotacao}}</span></center>
        <br>
        <a class="button-add-itens" href="#/inserirItensCotacao">
          <i class="fa fa-plus"></i> Adicionar Itens
        </a>

        <a class="button-finaliza-cotacao" ng-click="finalizaCotacao(cotacao.id)">
          <i class="fa fa-clock-o"></i> Resumo Cotação
        </a>

        <ul class="features_list_detailed">
          <li ng-repeat="obj in cotacaoListaItensSeparado track by $index" ng-if="status == 'S' ">
            <a class="open-picker" ng-click="actionMenuItensCotacao(obj.item)">
              <div class="feat_small_details">
                <h4>{{obj.valorTotal}}</h4>
                <ul class="inline-list">
                  <li><b>Produto:</b> {{obj.item}}</li>
                  <li><b>Quantidade:</b> {{obj.quantidade}}</li>
                </ul>
              </div>
              <div class="view_more"><i class="fa fa-bars fa-2x"></i></div>
            </a>
          </li>

        </ul>

      </div>
    </div>
    <!-- fim .container -->
  </ion-content>
</ion-view>
