<!-- Header p-def -->
<ion-view>

  <ion-content ng-controller="clienteCtrl">
    <div class="bar bar-header">
      <a href="javascript:history.back()" class="button icon-left ion-chevron-left button-clear button-dark"></a>
      <a class="button icon-left">
        <img src="img/logo-tinny.png" height="50" alt="" title="" /> </a>
      <div class="h1 title">Clientes</div>
    </div>

    <!-- Container client -->
    <div class="container clientes">
      <div class="page_content fullwidth">
        <p class="paragraph_white">Informe o CNPJ, Código, Razão Social, ou Nome Fantasia para buscar o cliente desejado.</p>
        <div class="searchform">
          <form id="SearchForm" method="post">
            <input type="text" name="keyword" value="" class="search_input" placeholder="Buscar Clientes" ng-model="data.CLIENTEPESQ">
            <button type="submit" class="search_submit" ng-click="listarClientes()" ng-model="checked">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
        <!-- Start NG-REPEAT -->
        <ul class="features_list_detailed" ng-if="separado[0] == 'S' ">
          <li ng-repeat="item in separadoItem track by $index">
            <a ui-sref="menuClientes({clienteId:item.idCliente})" class="open-popup" ng-click="cotacaoEmAberto(item.idCliente, item.nome)">
              <div class="feat_small_details">
                <h4 class="title-itensList" ng-model="data.clienteNome">{{item.nome}} </h4>
                <ul class="detalhes-list">
                  <li><b>Cód:</b> {{item.idCliente}}</li>
                </ul>
              </div>
              <div class="view_more"><i class="fa fa-bars fa-2x"></i></div>
            </a>
          </li>
        </ul>
        <!-- Stop NG-REPEAT -->
      </div>
    </div>
    <!-- fim .container -->
  </ion-content>
  <div class="menuicon">
    <a href="#/menu"><i class="fa fa-bars fa-3x"></i></a>
  </div>
</ion-view>
