<ion-view>
  <ion-content ng-controller="listaProdutoCtrl">
    <div class="bar bar-header">
      <!-- <a  href="#/loginhome"  class="button icon-left ion-chevron-left button-clear button-dark"> </a> -->
      <a class="button icon-left" ui-sref="inicio">
        <img src="img/logo-tinny.png" height="50" /> </a>
      <div class="h1 title">Cotações Vendedor</div>

      <a href="#/inicio" data-panel="right" class="open-panel config-nav"><i class="fa fa-bars"></i></a>
    </div>

    </br></br></br><ul class="features_list_detailed cotacoes-list" ng-if="status == 'S'">
      <!-- ng-if="cotacaoEmAberto[0] == 'S' "-->

      <li ng-repeat="item in cotacaoEmAbertoEspecifico track by $index">
        <a ng-click="opcoesCotacao(item.idCotacao)" class="open-picker">
          <!-- <a ng-click="showActionSheet(item.idCotacao)" class="open-picker"> -->
          <!--  ui-sref="alterarCotacao({clienteId: data.clienteId, cotacaoId: item.idcotacao})"-->
          <div class="feat_small_details">
            <h4>{{item.idCotacao}}  -  {{item.fantasia}}</h4>
            <ul class="inline-list">
              <li><b>Emissão:</b> {{item.emissao}} </li>
              <li><b>Total:</b> R$ {{item.totalGeral}}</li>
              <li><b>Qtd. Itens:</b> {{item.qtdItens}}</li>
            </ul>
          </div>
          <div class="view_more"><i class="fa fa-chevron-right fa-2x"></i></div>
        </a>
      </li>
    </ul>


    </div>
      <!-- END NG-REPEAT -->

    <!-- fim .container -->
  </ion-content>
</ion-view>


