<ion-view>
  <ion-content ng-controller="loginCtrl">

    <div class="page-content">
      <!-- <a href="#/configuracao" nav-transition="ios" data-panel="right" class="open-panel config-nav"><i class="fa fa-cog"></i></a> -->

      <div class="logo">
        <img src="img/logo-churrascaria2.png" alt="" title="" width="100%" />
      </div>

      <div class="content-block ">

        <h2 class="text-center subtitle"><img src="img/logo.png" alt="" title="" width="100%" /></h2>
        <div class="separated-form">

          <form class="ajax-submit" ng-submit="validaVendedor()">
            <div class="list">
              <label class="item item-input">
                <span class="input-label"><i class="fa fa-user font-amarelo"></i> Usuário</span>
                <input type="text" placeholder="Digite o usuário">
              </label>
              <label class="item item-input">
                <span class="input-label"><i class="fa fa-lock font-amarelo"></i> Senha</span>
                <input type="password" placeholder="Digite a senha">
              </label>
            </div>
            <div class="row ">
              <div class="col">
                <button class="button button-full btn-laranja">Entrar</button>
              </div>
              <div class="col">
                <button class="button button-full btn-facebook"><i class="fa fa-facebook"></i> Com Facebook</button>
              </div>
            </div>

          </form>
        </div>
        <div class="col text-center">
          <a href="#/cadastre-se" class="text-center font-amarelo">Cadastre-se</a>
        </div>

      </div>
      <footer class="text-center">
        <small class="font-branco">© 2016 Churrascaria Palace - Todos os Direitos Reservados</small>
      </footer>
    </div>
  </ion-content>
</ion-view>
