<ion-view>
  <ion-content ng-controller="menuClienteCtrl">
    <ion-refresher on-refresh="doRefreshMenu()">
    </ion-refresher>
    <div class="container margin-bottom clientes">
      <!-- <h3 class="paragraph_white text-center title"> {{clienteDados[1]}}</h3> -->
      <!-- Popup Cliente -->
      <div class="popup-cliente">
        <div class="content-block">
          <div class="row">
            <div class="col-50">
              <!-- <a ui-sref="addCotacao({clienteId: data.clienteId})" ng-click="cotacaoIncluir()"> -->
              <!-- <a ng-click="cotacaoIncluir();"> -->
              <a ng-click="novaCotacao()">
                <div>
                  <div>
                    <div class="thumbs item1">
                      <i class="fa fa-plus fa-3x"></i>
                      <div class="title-thumbs">Nova cotação</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-50">
              <!-- <a ui-sref="detalhesCliente({clienteId: data.clienteId})"> -->
              <a href="#/detalhesCliente">
                <div class="thumbs  item2">
                  <i class="fa fa-info fa-3x"></i>
                  <div class="title-thumbs">Detalhes Cliente</div>
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-50" n>
              <!-- <a ui-sref="posicaoFinanceira({clienteId: data.clienteId})" ng-click="clienteFinanceiro()"> -->
              <a href="#/posicaoFinanceira">
                <div class="thumbs item3">
                  <i class="fa fa-briefcase fa-3x"></i>
                  <div class="title-thumbs">Posição Financeira</div>
                </div>
              </a>
            </div>
            <div class="col-50">
              <!-- <a ui-sref="nfs({clienteId: data.clienteId})"> -->
                <div class="thumbs  item4" ng-click="clientePedidosNfs()">
                  <i class="fa fa-file-text-o fa-3x"></i>
                  <div class="title-thumbs">Pedidos / NFs</div>
                </div>
              <!-- </a> -->
            </div>
          </div>
          <!-- Cotações em aberto -->
          <center><p class="paragraph_white">Cotações em aberto</p></center>
          <ul class="features_list_detailed cotacoes-list" ng-if="status == 'S'">
            <!-- ng-if="cotacaoEmAberto[0] == 'S' "-->

            <li ng-repeat="item in cotacaoEmAbertoEspecifico track by $index">
              <a ng-click="opcoesCotacao(item.idCotacao)" class="open-picker">
                <!-- <a ng-click="showActionSheet(item.idCotacao)" class="open-picker"> -->
                <!--  ui-sref="alterarCotacao({clienteId: data.clienteId, cotacaoId: item.idcotacao})"-->
                <div class="feat_small_details">
                  <h4>{{item.idCotacao}}  -  {{item.fantasia}}</h4>
                  <ul class="inline-list">
                    <li><b>Emissão:</b> {{item.emissao}} </li>
                    <li><b>Total:</b> R$ {{item.totalGeral}}</li>
                    <li><b>Qtd. Itens:</b> {{item.qtdItens}}</li>
                  </ul>
                </div>
                <div class="view_more"><i class="fa fa-chevron-right fa-2x"></i></div>
              </a>
            </li>
          </ul>

          <div class="close_popup_button">
            <a ui-sref="inicio" nav-transition="ios" class="close-popup">
              <img src="img/icons/white/menu_close.png" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- fim .container -->
  </ion-content>
  <!-- <div class="menuicon">
    <a href="#/menu"><i class="fa fa-bars fa-3x"></i></a>
  </div> -->
</ion-view>