<ion-view>
  <ion-content ng-controller="negociosCtrl">
    <div class="bar bar-header">
      <!-- <a  href="#/loginhome"  class="button icon-left ion-chevron-left button-clear button-dark"> </a> -->
      <a class="button icon-left" href="#/inicio">
        <img src="img/logo-tinny.png" height="50" alt="" title="" /> </a>
      <div class="h1 title">Negócios</div>

      <a href="#/inicio" data-panel="right" class="open-panel config-nav"><i class="fa fa-bars"></i></a>
    </div>
    <div class="container  margin-bottom clientes">
      <div class="page_content">
        <div class="row">
          <div class="col-50">
            <a href="#/clientes">
              <div class="thumbs  item1">
                <i class="fa fa-plus fa-3x"></i>
                <div class="title-thumbs">Adicionar Cotação</div>
              </div>
            </a>
          </div>
          <div class="col-50">
            <a ui-sref="#/addCliente">
              <div class="thumbs item2">
                <i class="fa fa-plus fa-3x"></i>
                <div class="title-thumbs">Adicionar Cliente</div>
              </div>
            </a>
          </div>
        </div>

        <!-- Cotações em aberto -->
        <center><p class="paragraph_white">Cotações em aberto - Vendedor</p></center>
        <ul class="features_list_detailed cotacoes-list" ng-if="status == 'S'">
          <!-- ng-if="cotacaoEmAberto[0] == 'S' "-->

          <li ng-repeat="item in cotacaoEmAbertoEspecifico track by $index">
            <a ng-click="opcoesCotacao(item.idCotacao,item.idCliente)" class="open-picker">
              <!-- <a ng-click="showActionSheet(item.idCotacao)" class="open-picker"> -->
              <!--  ui-sref="alterarCotacao({clienteId: data.clienteId, cotacaoId: item.idcotacao})"-->
              <div class="feat_small_details">
                <h4>{{item.idCotacao}}  -  {{item.fantasia}}</h4>
                <ul class="inline-list">
                  <li><b>Emissão:</b> {{item.emissao}} </li>
                  <li><b>Total:</b> R$ {{item.totalGeral}}</li>
                  <li><b>Qtd. Itens:</b> {{item.qtdItens}}</li>
                </ul>
              </div>
              <div class="view_more"><i class="fa fa-chevron-right fa-2x"></i></div>
            </a>
          </li>
        </ul>

      </div>
      <!-- FIm .page_content -->
    </div>
    <!-- fim .container -->
  </ion-content>
</ion-view>
