<ion-view>
  <ion-content ng-controller="clienteCtrl">

    <div class="bar bar-header">
      <a href="javascript:history.back()" class="button icon-left ion-chevron-left button-clear button-dark"></a>
      <a class="button icon-left" href="#/inicio">
        <img src="img/logo-tinny.png" height="50" alt="" title="" /> </a>
      <div class="h1 title">Pedidos / NSF</div>
      <!-- <a id="edit" href="#" class="config-nav"  ng-model="checked"><i class="fa fa-edit"></i></a> -->
      <a ui-sref="menu" data-panel="right" ui-sref="login" class="open-panel config-nav"><i class="fa fa-bars"></i></a>
    </div>


    <div class="container  padding-bottom" ng-if="cliPedidosNfsSeparado[0].valor">
      <div class="page_content fullwidth">
        <ul class="features_list_detailed">
          <li ng-repeat="item in cliPedidosNfsSeparado">
            <a class="pdf">
              <div class="feat_small_details">
                <h4>Pedido {{item.id}}</h4>
                <ul class="inline-list">
                  <li><b>Valor:</b>{{item.valor}}</li>
                </ul>
              </div>
              <div class="view_more"><i class="fa fa-check fa-2x"></i></div>
            </a>
          </li>
        </ul>
      </div>

    </div>
    <!-- fim .container -->

  </ion-content>

</ion-view>
