<ion-view>
  <ion-content ng-controller="posicaoFinanceiraCtrl">

    <div class="bar bar-header">
      <a href="javascript:history.back()" class="button icon-left ion-chevron-left button-clear button-dark"></a>
      <a class="button icon-left" href="#/inicio">
        <img src="img/logo-tinny.png" height="50" alt="" title="" /> </a>
      <div class="h1 title">Posição Financeira</div>
      <!-- <a id="edit" href="#" class="config-nav"  ng-model="checked"><i class="fa fa-edit"></i></a> -->
      <a href="#/menuClientes" data-panel="right" class="open-panel config-nav"><i class="fa fa-bars"></i></a>
    </div>


    <div class="container  padding-bottom">
      <div class="page_content fullwidth posicao-financeira" ng-if="status == 'S' ">
        <!-- Modelo 'Em aberto' -->
        <div class="card" ng-repeat="item in cliFinanceiroSeparado">
          <!-- <div class="card-header" ng-show=""><b>Status:</b> <span class="aberto">Em aberto</span></div> -->
          <!-- <div class="card-header" ng-show=""><b>Status:</b> <span class="pago">Pago</span></div> -->
          <div class="card-content">
            <div class="card-content-inner row">
              <div class="col-100">
                <ul>
                  <li><font color="#055D78"><b>Status: </font></b><font color="#990000"> Em Aberto</font></li>
                  <hr width="100%"/>
                </ul>
              </div>
              <div class="col-50">
                <ul>
                  <li><b>Prefixo:</b> {{item.prefixo}}</li>
                  <li><b>Número:</b> {{item.numero}}</li>
                  <li><b>Parcelas:</b> {{item.parcela}}</li>
                  <li><b>Tipo:</b> {{item.tipo}}</li>
                </ul>
              </div>
              <div class="col-50">
                <ul>
                  <li><b>Valor:</b> {{item.valor}}</li>
                  <li><b>Emissão:</b> {{item.emissao}}</li>
                  <li><b>Venc:</b> {{item.vencimento}}</li>
                  <li><b>Obs.:</b> {{item.observacao}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- fim .container -->
  </ion-content>
</ion-view>
