<ion-view>
  <ion-content ng-controller="detalheProdutoCtrl">

    <div class="bar bar-header">
      <a href="javascript:history.back()" class="button icon-left ion-chevron-left button-clear button-dark"></a>
      <a class="button icon-left" href="#/inicio">
        <img src="img/logo-tinny.png" height="50" alt="" title="" /> </a>
      <div class="h1 title">Produto</div>

      <a href="#/inicio" data-panel="right" class="open-panel config-nav"><i class="fa fa-bars"></i></a>

    </div>


    <div class="container">


      <div class="featured-img photo_gallery_13">
        <a href="{{produtoData[6]}}" data-lightbox="image-1">
          <img src="{{produtoData[6]}}" width="100%" class="featuredImage">
        </a>

      </div>


      <div class="card">
        <div class="card-header">Descrição</div>
        <div class="card-content">
          <div class="card-content-inner">{{produtoData[2]}}</div>
        </div>
      </div>
      <div class="row no-gutter">
        <div class="col-50">
          <div class="card">
            <div class="card-header">Cód. Produto</div>
            <div class="card-content">
              <div class="card-content-inner">{{produtoData[1]}}</div>
              <!-- ID do produto -->
            </div>
          </div>
        </div>
        <div class="col-50">
          <div class="card">
            <div class="card-header">Estoque Disp.</div>
            <div class="card-content">
              <div class="card-content-inner">{{produtoData[8]}}</div>
            </div>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header">Grupo</div>
        <div class="card-content">
          <div class="card-content-inner">{{produtoData[3]}}</div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Unidade de Medida</div>
        <div class="card-content">
          <div class="card-content-inner">{{produtoData[4]}}</div>
        </div>
      </div>
      <div class="row no-gutter">
        <div class="col-50">
          <div class="card">
            <div class="card-header">Qtd. Embalagem</div>
            <div class="card-content">
              <div class="card-content-inner">{{produtoData[5]}}</div>
            </div>
          </div>
        </div>
        <div class="col-50">
          <div class="card">
            <div class="card-header">Peso Liq.</div>
            <div class="card-content">
              <div class="card-content-inner">{{produtoData[12]}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Cód. de Barras</div>
        <div class="card-content">
          <div class="card-content-inner">{{produtoData[7]}}</div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Preço Venda</div>
        <div class="card-content">
          <div class="card-content-inner">R$ {{produtoData[9]}}</div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Estoque Detalhado</div>
        <div class="card-content">
          <div class="row">
            <div class="col-100">
              <div class="card-content-inner">
                <p>Qtd. atual: {{produtoEstoque[2]}}</p>
                <p>Qtd. ped. ven.: {{produtoEstoque[3]}}</p>
              </div>
            </div>
            <div class="col-100">
              <div class="card-content-inner">
                <p>Qtd. reserva: {{produtoEstoque[4]}}</p>
                <p>Qtd. transito: {{produtoEstoque[5]}}</p>
              </div>
            </div>
          </div>
          <div class="card-content-inner">
            Observações: {{produtoEstoque[7]}}
          </div>
        </div>
      </div>

      <a href="#/tabelaPreco"><button class="tabela-precos" >Tabela de Preços</button></a>

    </div>
    <!-- fim .container -->


  </ion-content>
</ion-view>
