<ion-view>
  <ion-content ng-controller="resumoCotacaoCtrl">
    <div class="bar bar-header">
      <a href="#/menuClientes" class="button icon-left ion-chevron-left button-clear button-dark"></a>
      <a class="button icon-left">
        <img src="img/logo-tinny.png" height="50" alt="" title="" /> </a>
      <div class="h1 title">Resumo da Cotação</div>
      <a ng-click="opcoesCotacao()" class="open-panel config-nav open-picker"><i class="fa fa-bars"></i></a>
    </div>
    <div class="container clientes sidemargin">
      <div class="forms">
        <form>
          <ul>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="nCotacao">Número da Cotação</label>
                    <input disabled type="text" value="{{cotResumo[1]}} - {{cotResumo[2]}}" name="nCotacao" id="nCotacao">
                  </div>
                </div>
            </li>

            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="valorBruto">Valor Bruto</label>
                    <input disabled type="text" value="{{cotResumo[3]}}" name="valorBruto" id="valorBruto">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="valorLiquido">Valor Líquido</label>
                    <input disabled type="text" value="{{cotResumo[4]}}" name="valorLiquido" id="valorLiquido">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="ipiPedido">IPI Pedido</label>
                    <input disabled type="text" value="{{cotResumo[5]}}" name="ipiPedido" id="ipiPedido">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="valorFrete">Valor Frete</label>
                    <input disabled type="text" value="{{cotResumo[6]}}" name="valorFrete" id="valorFrete">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="icmsRetido">ICMS Retido</label>
                    <input disabled type="text" value="{{cotResumo[7]}}" name="icmsRetido" id="icmsRetido">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="valorTotal">Valor Total</label>
                    <input disabled type="text" value="{{cotResumo[8]}}" name="valorTotal" id="valorTotal">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="valorTotal">Qtd Itens</label>
                    <input disabled type="text" value="{{cotResumo[9]}}" name="valorTotal" id="valorTotal">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="condPagamento">Condição de Pagamento</label>
                    <input disabled type="text" value="{{cotResumo[10]}} - {{cotResumo[11]}}" name="condPagamento" id="condPagamento">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="tabelaPreco">Tabela de Preço</label>
                    <input disabled type="text" value="{{cotResumo[12]}} - {{cotResumo[13]}}" name="tabelaPreco" id="tabelaPreco">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="itensPededido">Transportadora</label>
                    <input disabled type="text" value="{{cotResumo[14]}} - {{cotResumo[15]}}" name="itensPededido" id="itensPededido">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="tipoFrete">Tido de Frete</label>
                    <input disabled type="text" value="{{cotResumo[16]}} - {{cotResumo[17]}}" name="tipoFrete" id="tipoFrete">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="desconto1">Desconto 1</label>
                    <input disabled type="text" value="{{cotResumo[18]}}" name="desconto1" id="desconto1">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="desconto2">Desconto 2</label>
                    <input disabled type="text" value="{{cotResumo[19]}}" name="desconto2" id="desconto2">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="desconto3">Desconto 3</label>
                    <input disabled type="text" value="{{cotResumo[20]}}" name="desconto3" id="desconto3">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="desconto4">Desconto 4</label>
                    <input disabled type="text" value="{{cotResumo[21]}}" name="desconto4" id="desconto4">
                  </div>
                </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <label for="obs">Observações</label>
                    <input disabled type="text" value="{{cotResumo[22]}}" name="obs" id="obs">
                  </div>
                </div>
            </li>
<!--             <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="">
                    <a class="button button-full  button-balanced" ng-click="cotacaoPedidoGravarResumo()"> Finalizar Cotação </a>
                  </div>
                </div>
            </li> -->
          </ul>
        </form>
        </div>
        </div>
        <!-- fim .container -->
  </ion-content>
</ion-view>
