<ion-view>
  <ion-content ng-controller="sincronizarCtrl">
    <div class="bar bar-header">
      <a class="button icon-left">
        <img src="img/logo-tinny.png" height="50" alt="" title="" /> </a>
      <div class="h1 title">Sincronização</div>
      <!-- WAS inicio -->
    </div>
    <a href="#/inicio" data-panel="right" class="open-panel config-nav"><i class="fa fa-bars"></i></a>


    <div class="container margin-bottom">
      <center><button class="btn-sincronizar" ng-click="sincronizar()">SINCRONIZAR</button></center></br></br>

      <div style="padding: 20px;">
        <h5 class="font-sincronizar"><b>Cotações Vendedor: </b><font id="sincCotacaoVendedor"></font></h5></br>
        <h5 class="font-sincronizar"><b>Clientes: </b><font id="sincClientes"></font></h5></br>
        <h5 class="font-sincronizar"><b>Produtos: </b><font id="sincProdutos"></font></h5></br>
      </div>
    </div>

  </ion-content>
</ion-view>
