<ion-view>
  <ion-content ng-controller="tabelaPrecoCtrl">

    <div class="bar bar-header">
      <a href="javascript:history.back()" class="button icon-left ion-chevron-left button-clear button-dark"></a>
      <a class="button icon-left" href="#/inicio">
        <img src="img/logo-tinny.png" height="50" alt="" title="" /> </a>
      <div class="h1 title">Tabela de Preço</div>
      <!-- <a id="edit" href="#" class="config-nav"  ng-model="checked"><i class="fa fa-edit"></i></a> -->
      <a href="#/inicio" data-panel="right" class="open-panel config-nav"><i class="fa fa-bars"></i></a>
    </div>

    <div class="container  padding-bottom">

      <div class="in-estImposto">
        <font color="#FFFFFF">Selecione um estado para buscar o Imposto:</font>
        <select class="in-estado" id="estado" name="estado" ng-model="estado">
          <option>AC</option>
          <option>AL</option>  
          <option>AM</option>  
          <option>AP</option>  
          <option>BA</option>  
          <option>CE</option>  
          <option>DF</option>  
          <option>ES</option>  
          <option>GO</option>  
          <option>MA</option>  
          <option>MT</option>    
          <option>MS</option>  
          <option>MG</option>  
          <option>PA</option>  
          <option>PB</option>  
          <option>PR</option>  
          <option>PE</option>  
          <option>PI</option>  
          <option>RJ</option>  
          <option>RN</option>  
          <option>RS</option>  
          <option>RO</option>  
          <option>RR</option>  
          <option>SC</option> 
          <option>SP</option>   
          <option>SE</option>  
          <option>TO</option>  
        </select>
      </div>

      <div class="page_content fullwidth posicao-financeira" ng-if="status == 'S' ">
        <!-- Modelo 'Em aberto' -->
        <div class="card" ng-repeat="item in separadoItem">
          <!-- <div class="card-header" ng-show=""><b>Status:</b> <span class="aberto">Em aberto</span></div> -->
          <!-- <div class="card-header" ng-show=""><b>Status:</b> <span class="pago">Pago</span></div> -->
          <div class="card-content">
            <div class="card-content-inner row mt-1">
              <div class="col-100 mt-1">
                <ul>
                  <li><b>Cód:</b> {{item.cod}}</li>
                  <li><b>Tabela:</b> {{item.tabela}}</li>
                  <li><b>Valor:</b><input class="in-tabela-preco" id="itemValor" name="itemValor" value="R$ {{item.valor}}"></li>
                </ul>
              </div>
              <div class="col-100">
                <ul>
                  <li><button class="imposto-produto" ng-click="carregaImposto()" >Imposto</button></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- fim .container -->
  </ion-content>
</ion-view>