
html,
body {
	position: relative;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}
body {
	font-family: 'Source Sans Pro', sans-serif !important	;
	margin: 0;
	padding: 0;
	color: #232323;
	font-size: 14px;
	line-height: 1.4;
	width: 100%;
	-webkit-text-size-adjust: 100%;
	overflow: hidden;
	font-weight:300;
    background: #160b07 url(../img/bg.jpg) center top no-repeat;
    background-attachment:fixed;
    background-position: center;
}

.pane, .menu, .view, .list, .item       {
    background: transparent !important;
}
/*.scroll-content {
	background: #160b07 url(../img/bg.jpg) center top no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}*/
.clear{
	clear:both;
	display:block;
}
.clearleft{
	clear:both;
	float:left;
	display:block;
}
.noPadding{
  padding:0;
}
a {
	text-decoration: none;
}
p{
	padding:0px;
	margin:0px;
	line-height:20px;
}
.sidemargin {
	padding: 0 20px;
}
.padding-bottom {
	padding-bottom: 90px !important;
}

.border-1{
	border: 2px solid;
	border-color: #c0392b;
}

.in-estImposto{
	margin: 10px;
}

blockquote{
	padding:0 0 15px 0;
	margin:5px 0 15px 0;
	font-size:18px;
	border-bottom:3px solid #ececec;
	line-height:22px;
	font-weight:300;
}
blockquote span{
	display:block;
	font-weight:700;
	font-size:14px;
	text-transform:uppercase;
	line-height:22px;
}
.videocontainer{
	max-width:100%;
	padding:0;
	display: block;
	margin:0;
}
#mobile_wrap{
	max-width:1024px;
	margin:auto;
}
/*===============================================*/
/* 3. CUSTOM BUTTONS */
/*===============================================*/
a.button_full{
	width:100%;
	display:inline-block;
	color:#FFFFFF;
	padding:10px 0;
	margin:0 0 20px 0;
	font-size:18px;
	text-align:center;
	-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
}
a.button_small{
	display:inline-block;
	color:#FFFFFF;
	padding:10px 20px;
	text-align:center;
	-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
}

.btn-sincronizar{
	width: 90%;
	height: 50px;
	border: 0px;
	border-radius: 6px;
	background-color: #34495e;
	color: #FFFFFF;
}

.call_button a{
	display:block;
	width:100%;
	margin:0;
	padding:10px 0;
	text-align:center;
	color:#FFFFFF;
	font-size:20px;
	-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
}
.button {
	text-decoration: none;
	text-align: center;
	display: block;
	border-radius: 5px;
	line-height: 38px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background: none;
	padding: 0 10px;
	margin: 0;
	height:40px;
	white-space: nowrap;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	font-family: inherit;
	cursor: pointer;
}
.button.active {
	color: #fff;
}

.button-add-itens{
	float: left;
	width: 50%;
	background-color:#2ecc71;
	height: 50px;
	color: #FFFFFF;	
	padding: 15px;
	padding-left: 30px;
}

.button-finaliza-cotacao{
	float: right;
	width: 50%;
	background-color:#c0392b;
	height: 50px;
	color: #FFFFFF;	
	padding: 15px;
	padding-left: 30px;
}


/**/
.img-round {
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	padding: 5px;
	background-color: #fff;

}
/*.pane, .view {
	background-color: transparent !important;
}*/
.menu-open .menu .scroll-content {
	background-image: none !important;
	background-color: #050302;
}
.left-buttons button i {
	font-size: 1.6em;
	margin: 9px 0 0 9px;
}

/*===============================================*/
/* 4. LEFT AND RIGHT SLIDE PANELS */
/*===============================================*/
.panel {
	z-index: 1000;
	display: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	width: 280px;
	top: 0;
	height: 100%;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;
	color:#FFFFFF;
}
.content-block {
	margin: 20px 0;
	padding: 0 15px;
}
.content-block-login{
	margin:20px 0;
	padding: 0 15px;
}

/* 4-1. LEFT SLIDE PANEL */
.user_login_info{
	padding:0px;
}
.user_thumb{
	width:100%;
	margin:auto;
	position:relative;
}
.user_thumb img{
	display:block;
	max-width:100%;
	z-index:777;
}
.user_details{
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:132px;
	z-index:888;
	background:url(img/trans_black_gradient.png) repeat-x;
}
.user_details p{
	padding:70px 0 0 10px;
	text-align:left;
	font-size:14px;
}
.user_details p span{
	display:block;
	font-size:22px;
	padding:5px 0 0 0;
}
.user_social{
	z-index:999;
	position:absolute;
	bottom:20px;
	right:15px;
	width:30px;
}
.user_social img{
	display:block;
	max-width:100%;
	margin:10px 0 0 0;
}
.user-nav{
	padding:20px 0 0 0px;
	width:100%;
}
.user-nav ul{
	width:100%;
	list-style:none;
	padding:0px;
	margin:0px;
	display:block;
}
.user-nav ul li{
	width:90%;
	list-style:none;
	padding:5px 0 10px 0;
	margin:0 0 0 5%;
	display:inline-block;
	text-align:center;
}
.user-nav ul li img{
	display:inline-block;
	max-width:10%;
	float:left;
}
.user-nav ul li span{
	display:block;
	float:left;
	text-align:left;
	padding:5px 0 0 20px;
}
.user-nav ul li strong{
	display:block;
	float:right;
	text-align:left;
	margin:0 10px 0 0;
	width:30px;
	height:20px;
	text-align:center;
	-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;
}
strong.green{
	background-color:#837f07;
}
strong.blue{
	background-color:#077c83;
}
.user-nav ul li a{
	color:#fff;
	font-size:14px;
	font-weight:300;
}

/* 4-2. RIGHT SLIDE PANEL */

.panel-right h2{
	width:90%;
	margin:0 5%;
	padding:10px 0 10px 0;
	font-size:30px;
	font-weight:300;
}
.panel-right h3{
	width:90%;
	margin:0 5%;
	padding:30px 0 10px 0;
	font-size:18px;
	font-weight:400;
}
.search_form{
	width:90%;
	margin:0 5%;
}
input.search_input{
	width:80%;
	padding:10px 0;
	background:none;
	border-bottom:1px #fff solid;
	border-left:none;
	border-top:none;
	border-right:none;
	color:#FFFFFF;
	float:left;
}
input.search_submit{
	width:15%;
	margin:0 0 0 5%;
	float:left;
}
input.search_submit img{
	display:inline-block;
	max-width:50%;
}
ul.popular_posts{
	width:90%;
	margin:0 5%;
	float:left;
	clear:both;
	padding:0px 0 20px 0;
	list-style:none;
}
ul.popular_posts li{
	width:100%;
	padding:10px 0;
	margin:0px;
	float:left;
	clear:both;
	list-style:none;
}
ul.popular_posts li a img{
	float:left;
	display:inline-block;
	width:20%;
}
ul.popular_posts li span{
	width:75%;
	float:left;
	padding:0 0 0 5%;
	display:inline-block;
}
ul.popular_posts li a{
	color:#FFFFFF;
	font-size:1.4em;
	font-weight:bold;
}

/*===============================================*/
/* 5. MAIN NAVIGATION POPUP AND FOOTER TOOLBAR */
/*===============================================*/
/* 5-1. MAIN NAVIGATION */

.main-nav{
	padding:40px 0 0 0px;
	width:100%;
}
.main-nav ul{
	width:100%;
	list-style:none;
	padding:0px;
	margin:0px;
	display:block;
}
.main-nav ul li{
	width:28%;
	list-style:none;
	padding:15px 0;
	margin:2%;
	display:inline-block;
	text-align:center;
}
.main-nav ul li img{
	display:inline-block;
	max-width:40%;
}
.main-nav ul li span{
	display:block;
	text-align:center;
	padding:5px 0 0 0;
}
.main-nav ul li a{
	font-size:13px;
	font-weight:300;
}

/*5-2. FOOTER TOOLBAR */

.toolbar-inner{
	position: absolute;
	left: 0;
	top: -5px;
	z-index:99999;
	width: 100%;
	height: 100%;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.toolbar:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 125px;
	width: 100%;
	display: block;
	z-index: 15;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	opacity:1;
}
.toolbar {
	height: 100px;
}
ul.toolbar_icons{
	list-style:none;
	padding:0px;
	margin:0px;
	display: inline-block;
	text-align:center;
	width:100%;
}
ul.toolbar_icons li{
	list-style:none;
	padding:0;
	display: inline-block;
	text-align:center;
	width:14%; margin:0 1%;
}
.menuicon{
	list-style:none;
	padding:10px 10px 50px;
	display: inline-block;
	text-align:center;
	-webkit-border-radius:400px;-moz-border-radius:400px;border-radius:400px;
	position: fixed;
	bottom:-50px;
	background-color:#00A09A;
	width:80px;
	left: 52.8%;
	margin-left: -50px;
	z-index: 9999;
}
.menuicon a {
	color: #fff;
}
ul.toolbar_icons li img{
	max-width:65%;
	margin:20px 0 0 0;
}


/*===============================================*/
/* 6. HOME PAGE LAYOUT */
/*===============================================*/

.logo{
	width:100%;
	text-align:center;
	background-color:#0d0604;
	padding:10px 0 10px;
}
.logo img{
    max-width: 40%;
    top: 0;
    left: 0;
    margin: 20px 0;
}

/* 6-1. HOME PAGE WITH SLIDER */

.swiper-container {
	height: 100%;
}
.swiper-slide {
	width:100%;
	text-align:center;
	padding:0 0 0 0;
}
.slider_logo img{
	max-width:50%;
}
.swiper-slide span{
	text-align:center;
	display:block;
	margin:120px 0 10px 0;
	font-size:80px;
	line-height:20px;
	font-weight:900;
	letter-spacing:-1px;
	color:#fff;
	line-height:80px;
}
.swiper-slide span.subtitle{
	margin:0px 0 10px 0;
	font-size:40px;
	font-weight:300;
	letter-spacing:0px;
	color:#fff;
	line-height:40px;
}
.swiper-pagination-bullet-active {
	opacity: 1;
	background: #fff;
}
a.swiper_read_more{
	color:#fff;
	border:1px solid #fff;
	padding:20px 30px;
	text-decoration:none;
	margin:20px 0 0 0;
	display:inline-block;
	font-size:20px;
}

/*===============================================*/
/* 7. PAGES LAYOUT */
/*===============================================*/

#pages_maincontent{
	width:100%;
	padding:0px 0 30px 0;
	margin:0px;
	position: absolute;
	top: 98px;
	left: 0;
	right: 0;
	bottom: 0px;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	background-color: #055D78;
}
.page_content{
}
.page_content_menu{
	min-height:100%;
	padding:80px 5% 10px;
	margin:0;
}
h2.page_title{
	width:90%;
	padding:10px 5%;
	font-size:24px;
	font-weight:300;
	margin:0;
	display:inline-block;
	letter-spacing:-0.5px;
	background-color:#ececec;
	color:#222222;
}
h2.page_subtitle{
	font-size:22px;
	line-height:25px;
	font-weight:300;
	padding:0 0 10px 0;
	margin:20px 0 10px 0;
	display:inline-block;
	letter-spacing:-0.5px;
}
#pages_maincontent h3{
	font-size:16px;
	font-weight:700;
	margin:5px 0 20px 0;
	display:block;
	clear:both;
}
#pages_maincontent p{
	padding:0 0 15px 0;
	margin:0px;
	clear:both;
}
.page_content img{
	display:block;
	max-width:100%;
	margin:0 0 20px 0;
}
.page_content ul.simple_list{
	padding:0px 0 20px 10px;
	margin:0px;
	list-style:none;
}
.page_content ul.simple_list li{
	margin:0 0 10px 0;
	padding:0 0 0 20px;
	background:url(img/bullet.png) no-repeat left;
}

/* 7-1. PAGES HEADER */

.nav_left_logo{
	float:left;
	padding:0;
	width:auto;;
}
.nav_left_logo a{
	display: block;
	/*height:46px;*/
}
.nav_left_logo a img{
	/*display:inline-block;*/
	/*background-color:#fff;*/
	background-color:#fff;
	padding:10px;
}
.nav_right_button{
	float:right;
	width:50%;
	text-align:right;
}
.nav_right_button a{
	display:block;
	float:right;
	width:40px;
	padding:10px 15px 0 0;
}
.nav_right_button a img{
	display:inline-block;
	max-width:100%;
	padding:0;
}

/*===============================================*/
/* 8. FEATURED LISTS */
/*===============================================*/
.title-itensList {
	font-size: 18px;
}
ul.features_list{
	padding:0 0 20px 0;
	width:100%;
	margin:0px;
	list-style:none;
	float:left;
	clear:both;

}
ul.features_list li{
	border-bottom:1px #e6e6e6 solid;
	padding:5px 2% 10px 2%;
	margin:5px 0;
	display:block;
	width:96%;
	float:left;
	clear:both;
}
ul.features_list li img{
	display:inline-block;
	max-width:10%;
	float:left;
	margin:0px;
}
ul.features_list li span{
	display:inline-block;
	max-width:90%;
	padding:5px 0 0 5%;
	font-weight:700;
	float:left;
}


ul.features_list_detailed{
	padding:10px 0 30px 0;
	width:100%;
	margin:0px;
	list-style:none;
	float:left;
	clear:both;
}
ul.features_list_detailed li{
	margin:0 0 10px 0;
	display:block;
	width:100%;
	float:left;
	clear:both;
	background-color:#fff;
	margin-bottom:10px;
}
ul.features_list_detailed li .feat_small_icon{
	width:30%;
	float:left;
	/*border-right:1px solid #BADC3F;*/
}
ul.features_list_detailed li .feat_small_details{
	width:60%;
	float:left;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left:10px;
}

ul.features_list_detailed li .view_add{
	margin:15px 0;
	margin-right:3%;
	width:5%;
	float:right;
}
ul.features_list_detailed li .view_add img{
	display:block;
	max-width:100%;
}

ul.features_list_detailed li .view_more{
	margin:45px 0;
	margin-right:3%;
	width:5%;
	float:right;
}
ul.features_list_detailed li .view_more img{
	display:block;
	max-width:100%;
}
ul.features_list_detailed li .feat_small_details p{
	padding:0 0 10px 0;
}
ul.features_list_detailed li .feat_small_details a{
	color:#232323;
}
ul.features_list_detailed li .feat_small_icon img{
	display:inline-block;
	margin:0;
	max-width:90%;

}
ul.features_list_detailed li .feat_small_details h4{
	font-weight:700;
	padding:0 0 5px 0;
	margin:0px;
	text-transform:uppercase;
	color:#055d78;
	font-size:1em;
}
.featuredImage {
	position: absolute;
	bottom: 50%;
	margin-bottom: -45%;
	margin-top: 50px;
}

/*===============================================*/
/* 9. POPUPS */
/*===============================================*/
.popup{
	/*color: #FFFFFF;*/
}
.popup h4{
	color:#FFFFFF;
	font-size:28px;
	font-weight:700;
	text-align:center;
	padding:0 0 10px 0;
	margin:0px;
}
.popup p{
	color:#FFFFFF;
	text-align:center;
	padding:0px 0 20px 0;
	margin:0px;
	font-size:14px;
}
.popup-social h4{
	padding-top:40px;
}
.popup-login h4, .popup-signup h4, .popup-forgot h4{
	color:#FFFFFF;
	font-size:18px;
	font-weight:700;
	text-align:center;
	padding:0 0 10px 0;
	margin:0px;
}
ul.social_share{
	list-style:none;
	padding:0px;
	margin:0px;
}
ul.social_share li{
	width:32%;
	text-align:center;
	display:inline-block;
	padding:10px 0;
	margin:0px;
}

.close_popup_button{
	width:88%;
	text-align:center;
	margin:auto;
	display:inline-block;
}
.close_popup_button a{
	display:inline-block;
	width:60px;
	height:60px;
	margin:auto;
	padding:0;
	text-align:center;
	position:absolute;
	top:-20px;
	left:44%;
	-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;
}
.close_popup_button a img{
	display:block;
	max-width:60%;
	margin:15px auto auto auto;
}

.close_loginpopup_button{
	display:block;
}
.close_loginpopup_button a{
	display:inline-block;
	width:60px;
	height:60px;
	margin:auto;
	padding:0;
	text-align:center;
	position:absolute;
	top:10px;
	right:0px;
}
.close_loginpopup_button a img{
	display:block;
	max-width:60%;
	margin:auto;
}

/*===============================================*/
/* 10. PHOTO GALLERY */
/*===============================================*/
.switch_button{
	display:block;
	float:left;
}
.switch_button a{
	display:block;
	width:23px;
	height:23px;
}
.switch13{
	background:url(img/switch_13.png) no-repeat center;
}
.switch12{
	background:url(img/switch_12.png) no-repeat center;
}
.switch11{
	background:url(img/switch_11.png) no-repeat center;
}
.page_title_photos{
	width:90%;
	float:left;
	clear:both;
	padding:10px 5%;
	margin:0;
	display:inline-block;
	background-color:#ececec;
}
.page_title_photos h2{
	float:left;
	font-size:24px;
	font-weight:300;
	color:#222222;
	letter-spacing:-0.5px;
}
.gallery_switch{
}
.gallery_switch a{
	display:block;
}
ul.photo_gallery_13{
	width:100%;
	list-style:none;
	padding:0px;
	margin:10px 0 20px 0;
	float:left;
	clear:both;
}
ul.photo_gallery_13 li{
	width:31%;
	padding:0;
	float:left;
	margin:1%;
}
ul.photo_gallery_13 li img{
	max-width:100%;
	display:block;
}
ul.photo_gallery_12{
	width:100%;
	list-style:none;
	padding:0px;
	margin:10px 0 10px 0;
	float:left;
	clear:both;
}
ul.photo_gallery_12 li{
	width:48%;
	padding:0;
	float:left;
	margin:1%;
}
ul.photo_gallery_12 li img{
	max-width:100%;
	display:block;
}
ul.photo_gallery_11{
	width:100%;
	list-style:none;
	padding:0px;
	margin:10px 0 10px 0;
	float:left;
	clear:both;
}
ul.photo_gallery_11 li{
	width:100%;
	padding:0;
	float:left;
	margin:0px 0 10px 0;
}
ul.photo_gallery_11 li img{
	max-width:100%;
	display:block;
}
.photo-categories{
	width:100%;
	padding:0;
	font-size:14px;
	font-weight:300;
	margin:0;
	display:block;
}
.photo-categories a{
	width:31%;
	margin:1%;
	display:block;
	float:left;
	text-align:center;
	padding:10px 0;
	background-color:#f2f0f0;
}
.photo-categories a.active{
	color:#FFFFFF;
}
/*===============================================*/
/* 11. BLOG LAYOUT */
/*===============================================*/
ul.posts{
	padding:0px;
	margin:0px;
	list-style:none;
	width:100%;
}
ul.posts li{
	padding:20px 0;
	margin:0px;
	float:left;
	clear:both;
	list-style:none;
	width:100%;
	border-bottom:3px #ececec solid;
}
.post_date{
	float:left;
	width:10%;
	text-align:center;
}
span.day{
	font-size:55px;
	font-weight:700;
	line-height:30px;
}
span.month{
	font-size:20px;
	font-weight:300;
	line-height:10px;
}
.post_title{
	width:80%;
	float:left;
	margin:0 0 0 10%;
}
.post_title h2{
	font-size:24px;
	line-height:26px;
	font-weight:300;
	margin:0px 0 10px 0;
	padding:0px;
}
.post_title h2 a{
	color:#333333;
}


.list-block {
	margin:0px 0;
}
.list-block li{
	margin:0 0 20px 0;
	border-bottom:1px #ddd solid;
	padding:10px 0 10px 0;
}
.list-block .swipeout-actions-left a,
.list-block .swipeout-actions-right a {
	padding:0 30px;
	margin:0 0 0 20px;
	color: #fff;
	text-align:center;
}
.post_thumb{
	width:100%;
}
.post_thumb img{
	display:inline-block;
	max-width:100%;
}


.post_details span, .post_single span{
	display:inline-block;
	padding:0 5px;
}
.post_details span.post_comments, .post_single span.post_comments{
	background:url(img/comments.png) no-repeat right;
	padding:0 20px 0 0;
}
#loadMore{
	display:inline-block;
	margin:15px auto;
	padding:0;
	text-align:center;
	width:100%;
	cursor:pointer;
}
#loadMore img{
	margin:auto;
	max-width:20%;
	display:inline-block;
}
#showLess{
	display:none;
	margin:15px auto;
	padding:0;
	text-align:center;
	width:100%;
	cursor:pointer;
}
#showLess img{
	margin:auto;
	max-width:20%;
	display:inline-block;
}
.post_single{
}
.entry{
	padding:20px 0 0 0;
}
.entry p{
	line-height:22px;
}
.featured_image{
	width:100%;
	margin:auto;
	position:relative;
}
.featured_image img{
	display:block;
	max-width:100%;
	z-index:777;
}
.post_title_single{
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:auto;
	z-index:888;
	background:url(img/trans_black_gradient.png) repeat-x;
}
.post_title_single h2{
	color:#FFFFFF;
	font-size:34px;
	padding:25px;
	font-weight:300;
	line-height:38px;
}
.post_social{
	z-index:999;
	position:absolute;
	top:15px;
	right:15px;
	width:30px;
}
.post_social img{
	display:block;
	max-width:100%;
	margin:10px 0 0 0;
}
.post_author{
	z-index:999;
	position:absolute;
	top:15px;
	left:15px;
	width:50px;
}
.post_author img{
	display:block;
	max-width:100%;
	margin:10px 0 0 0;
	-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px
}

ul.comments{
	list-style:none;
	padding:0px;
	margin:0px;
	width:100%;
}
ul.comments li{
	list-style:none;
	float:left;
	clear:both;
	width:90%;
	padding:5% 5% 0 5%;
	margin:0px 0 10px 0;
	background-color:#f5f3eb;
	-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px
}
.comm_avatar{
	width:15%;
	display:inline-block;
	float:left;
}
.comm_avatar img{
	display:inline-block;
	max-width:100%;
}
.comm_content{
	width:80%;
	float:left;
	display:inline-block;
	padding:0 0 0 5%;
}
.comm_content p{
	padding:0px;
	margin:0px;
	font-style:italic;
}


/*===============================================*/
/* 12. FORMS */
/*===============================================*/
/* 12.1 CONTACT FORM */
.contactform{
	width:100%;
	padding:0 0 15px 0;
}
.contactform label{
	width:100%;
	padding:5px 0 3px 0;
	display:block;
	font-size:16px;
	font-weight:700;
}
.contactform .item-content{
	padding:5px 0 5px 20px;
	margin:0px;
}
.contactform label .item-media{
	display:inline-block;
}
.contactform label .item-inner{
	display:inline-block;
}
.contactform label.label-switch{
	display:inline-block;
	width:auto;
}
.contactform .item-title{
	width:auto;
	padding:0;
	display:inline-block;
	font-size:14px;
	font-weight:300;
}
.contactform label .item-title{
	width:auto;
	padding:0;
	display:inline-block;
	font-size:14px;
	font-weight:300;
}

.contactform .item-input{
	display:inline-block;
	width:auto;
	margin:0 0 0 10px;
}
.contactform label.error{
	padding:0 0 10px 0;
	width:100%;
	text-align:left;
	font-size:14px;
	color:#f65821;
	font-weight:400;
}
.contactform input.form_input{
	padding:3%;
	width:93%;
	margin:0 0 5px 0;
	border:1px solid #ddd;
	-webkit-appearance: none;
}
.contactform .form_select{
	padding:2% 3%;
	width:100%;
	margin:0 0 5px 0;
	border:1px solid #ddd;
	-webkit-appearance: none;
	background:url(img/dropdown.png) no-repeat right;
}
.contactform .form_select option{
	padding:5px;
}
.contactform textarea.form_textarea{
	padding:3%;
	width:93%;
	height:50px;
	margin:0 0 5px 0;
	border:1px solid #ddd;
	-webkit-appearance: none;
}
.contactform input.form_submit{
	width:100%;
	padding:4% 0 4% 0;
	margin:10px 0 0 0;
	font-weight:normal;
	text-align:center;
	cursor:pointer;
	font-size:20px;
	color:#FFFFFF;
	-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
	border: none;
	cursor:pointer;
	-webkit-appearance: none;
}

/* 12-2. LOGIN / SIGNUP / FORGOT PASS FORM */
.form_logo{
	width:100%;
	text-align:center;
	opacity: 0.5;
	margin:30px 0;
}
.form_logo img{
	max-width:50%;
	display:inline-block;
	margin:auto;
}

.in-tabela-preco{
	border: 0px;
	font-size: 1.4em;
}

.loginform{
	width:90%;
	padding:0 0 15px 5%;
}
.loginform label.error{
	padding:0 0 10px 0;
	width:100%;
	text-align:left;
	font-size:14px;
	color:#f65821;
	font-weight:400;
}
.loginform input.form_input{
	padding:10px 3%;
	width:93%;
	margin:0 0 15px 0;
	border:1px solid #45535d;
	background-color:#35434c;
	color:#b7bec2;
}
.loginform input.form_submit{
	width:100%;
	padding:10px 0;
	margin:15px 0 0 0;
	font-weight:normal;
	text-align:center;
	cursor:pointer;
	font-size:18px;
	color:#FFFFFF;
	-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;
	border: none;
	cursor:pointer;
}
.forgot_pass{
	width:100%;
	text-align:right;
}
.forgot_pass a{
	color:#FFFFFF;
	opacity: 0.5;
}
.signup_bottom{
	width:100%;
	text-align:center;
	padding:30px 0 0 0;
}
.signup_bottom p{
	opacity: 0.5;
	padding:0px;
}
.signup_bottom a{
	color:#FFFFFF;
	font-weight:700;
}
.signup_social{
	width:100%;
	text-align:center;
	padding:20px 0 0 0;
}
a.signup_facebook{
	background-color:#38579a;
	-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;
	width:47%;
	display:inline-block;
	padding:10px 0;
	margin:0 4% 0 0;
	color:#FFFFFF;
	font-size:12px;
	font-weight:700;
}
a.signup_twitter{
	background-color:#0cacea;
	-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;
	width:47%;
	padding:10px 0;
	display:inline-block;
	color:#FFFFFF;
	font-size:12px;
	font-weight:700;
}
/* 12.3 COMMENT FORM */

.commentform{
	width:100%;
	padding:0 0 15px 0;
}
.commentform label{
	width:100%;
	padding:5px 0 3px 0;
	display:block;
	font-size:16px;
	font-weight:700;
}
.commentform label.error{
	padding:0 0 10px 0;
	width:100%;
	text-align:left;
	font-size:14px;
	color:#f65821;
	font-weight:400;
}
.commentform input.form_input{
	padding:3%;
	width:93%;
	margin:0 0 5px 0;
	border:1px solid #ddd;
}
.commentform textarea.form_textarea{
	padding:3%;
	width:93%;
	height:50px;
	margin:0 0 5px 0;
	border:1px solid #ddd;
}
.commentform input.form_submit{
	width:100%;
	padding:4% 0 4% 0;
	margin:10px 0 0 0;
	font-weight:normal;
	text-align:center;
	cursor:pointer;
	font-size:20px;
	color:#FFFFFF;
	-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
	border: none;
	cursor:pointer;
}
.contact_info{
	padding:0 0 15px 0;
	margin:5px 0 15px 0;
	font-size:14px;
	border-bottom:3px solid #ececec;
	line-height:22px;
	font-weight:300;
}
/*===============================================*/
/* 13. TABS & ACCORDION */
/*===============================================*/
.font-sincronizar{
	color: #FFFFFF;
}

.tabs-animated-wrap, .tabs-simple{
	position: relative;
	width: 100%;
	overflow: hidden;
	height: auto;
	margin:20px 0 0 0;
}
.photos_tabs{
	margin-top:0px;
}
.tab h4{
	padding:0 0 10px 0;
	margin:0px;
	font-size:16px;
}
.custom-accordion{
	padding:0;
}
.custom-accordion .accordion-item-toggle{
	padding:0px 0px;
	height:44px;
	line-height:44px;
	font-size:17px;
	cursor:pointer;
}
.custom-accordion .accordion-item-toggle:active{
	background:rgba(0,0,0,0.15);
}
.custom-accordion .accordion-item-toggle span{
	display:inline-block;
	margin-left:15px;
}
.custom-accordion .icon-plus,.custom-accordion .icon-minus{
	display:inline-block;
	width:22px;
	height:22px;
	border:1px solid #000;
	border-radius:100%;
	line-height:20px;
	text-align:center;
}
.custom-accordion .icon-minus{
	display:none;
}
.custom-accordion .accordion-item-expanded .icon-minus{
	display:inline-block;
}
.custom-accordion .accordion-item-expanded .icon-plus{
	display:none;
}
.custom-accordion .accordion-item-content{
	padding:0px 15px;
}
/*===============================================*/
/* 14. MEDIA QUERIES */
/*===============================================*/
@media screen and (max-width: 680px) {
	.swiper-slide span{
		margin:0 0 10px 0;
		padding:70px 0 0 0;
		font-size:55px;
		line-height:60px;
	}
	.swiper-slide span.subtitle{
		margin:0px 0 10px 0;
		font-size:22px;
		line-height:22px;
	}
	a.swiper_read_more{
		padding:10px 20px;
		margin:20px 0 0 0;
		font-size:16px;
	}
}
@media screen and (max-width: 480px) {
	.toolbar {
		height: 55px;
	}
	ul.toolbar_icons li img{
		margin:5px 0 0 0;
	}

	.close_popup_button a{
		left:40%;
	}
	.swiper-container {
		height: 95%;
	}
	.swiper-slide span{
		margin:0 0 10px 0;
		padding:70px 0 0 0;
		font-size:48px;
		line-height:50px;
	}
	.swiper-slide span.subtitle{
		margin:0px 0 10px 0;
		font-size:20px;
		line-height:20px;
	}
	a.swiper_read_more{
		padding:10px 20px;
		margin:20px 0 0 0;
		font-size:14px;
	}
	.close_popup_button{
		width:80%;
	}
	#pages_maincontent{
		top:50px;
	}

	.nav_left_logo a img{
		max-width:65%;
		padding:10px 0 0 0;
	}
	.nav_right_button a{
		width:30px;
		padding:10px 15px 0 0;
	}
	ul.posts li{
		padding:10px 0;
	}
	.post_date{
		width:20%;
	}
	.post_title{
		width:70%;
	}
	.post_title h2{
		font-size:18px;
		line-height:22px;
	}
	.post_title_single h2{
		font-size:24px;
		padding:15px;
		line-height:28px;
	}
}
/*Ionic custom*/
.item-floating-label {
    background-color: #fff !important;
}
.subtitle {
	color: #fff;
	line-height: 18px;
	margin-bottom: 20px;
	font-size: 1.4em;
}
.subtitle em {
	font-size:13px;
}
/*==============================================
[Turquoise color stylesheet turquoise.css]

Author:	SINDEVO.COM - Smart Internet Development
Template:	Mobix - Mobile Web APP Template
================================================*/

/*===============================================*/
/* MAIN COLOR */
/*===============================================*/
* {
	/*-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;*/
}
.nomargin {

	margin: 0;
	padding: 0 !important;
}
.fullwidth {
	width: 100%;
	padding: 0;
}
a, blockquote span {
color: #00A09A;
}
a.button_full, a.button_small, .call_button a{
background-color:#1a715e;
}
.button {
border: 1px solid #1a715e;
color: #1a715e;
}
.button.active {
background: #1a715e;
}
.photo-categories a.active{
background-color:#1a715e;
}
.post_date{
color:#1a715e;
}
.list-block .swipeout-actions-left a,
.list-block .swipeout-actions-right a {
background: #1a715e;
}
.contactform input.form_submit, .loginform input.form_submit, .commentform input.form_submit{
background-color:#1a715e;
}
/*===============================================*/
/* HOME BG AND PAGES HEADER BG */
/*===============================================*/
.homepage{
background-attachment:fixed;
-webkit-background-size: 100%;
-moz-background-size: 100%;
-o-background-size: 100%;
background-size: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background: #055d78;
}
.bar-header {
background:#0d0604 !important;
background-image:none;
border: none !important;
padding: 0 !important;
}
.bar-header  img {
	display: block;
	margin-top: 5px;
}
.bar .title {
	/*position: relative !important;*/
}
.bar-header  a {
	border: none !important;
	color: #fff !important;
	background-color: transparent !important;
}
.container {
	padding-top: 60px;
}
/*===============================================*/
/* MAIN NAV LINKS */
/*===============================================*/
.main-nav ul li{
background: #054437;
border-bottom:1px #106d59 solid;
}
.main-nav ul li a{
color:#24d7b1;
}
.bar .title + .button:last-child, .bar > .button + .button:last-child, .bar > .button.pull-right, .bar .buttons.pull-right, .bar .title + .buttons {
    position: relative;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background-color: #00A09A !important;
}
/*============
===================================*/
/* POPUPS AND TOOLBAR */
/*===============================================*/
.popup, .page_content_menu{
background: #033848;
}
.popup-login, .popup-signup, .popup-forgot{
background-color:#263239;
}
.toolbar:before {
  background-color: #082722;
}
/*===============================================*/
/* LEFT AND RIGHT SLIDE PANEL */
/*===============================================*/
.panel {
background:#063C4D;
}
.user-nav ul li, ul.popular_posts li{
border-bottom:1px #00A09A solid;
padding:20px 0;

}
/* MENU OPENER ICON */
ul.toolbar_icons li.menuicon{
background-color:#00A09A;
}

/* PANEL CLOSE BUTTON */
.close_popup_button a{
background-color:#00A09A;
}

/*CUSTOM COLORS*/
.font-branco {
	color: #fff;
}
.bg-marrom {
	background-color: #351013;
}
.font-marrom {
	color: #351013;
}
.bg-vermelho {
	background-color: #8c1a21;
}
.font-vermelho {
	color: #8c1a21;
}
.bg-laranja {
	background-color: #ad5426;
}
.btn-laranja {
	background-color: #ad5426 !important;
	color: #fff !important;
	border: none !important;
}
.btn-vermelho {
	background-color: #8c1a21 !important;
	color: #fff !important;
	border: none !important;
}
.font-laranja {
	color: #ad5426 !important;
}
.bg-amarelo {
	background-color: #c57e1d;
}
.font-amarelo {
	color: #c57e1d !important;
}
.btn-facebook {
	background-color: #3b5998 !important;
	color: #fff !important;
	border: none !important;
}

.bg-dark {
	color: #fff;
	background-color: rgba(0,0,0,0.8) !important;
}
/*Formularios*/
.separated-form label.item {
	margin-top: 10px;
}
/*config*/
.config-nav {
	top: 0;
	right: 0;
	font-size: 1.8em;
	background-color: #00a09a !important;
	z-index: 999;
	color: #fff;
	padding: 10px 15px;
	position: absolute;
}
.popular_posts i {
	margin-right: 10px;
	color: #39E1B7;
}
/* Menu */
.nav_right_button i {
	font-size: 1.4em;
	color: #fff;

}

/*Page title*/
.h1.title {
	font-size: 1.5em;
	color: #fff;
}
.page_content {
	padding-top: 30px;
}
/*thumbs*/
.thumbs {
	text-align: center;
	padding-top: 20px;
	margin-bottom: 20px;
}
.thumbs i {
	color: #fff;
}
.thumbs .title-thumbs {
	background-color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	color: #055d78;
	margin-top: 20px;
}
.item6 .title-thumbs {
	color: #fff;
	background-color: #b4cd4b;
}
.item1 {background-color: #00a09a;}
.item2 {background-color: #0bc1a1;}
.item3 {background-color: #14d0c5;}
.item4 {background-color: #3cd88c;}
.item5 {background-color: #6ddc72;}
.item6 {background-color: #073746;}

/*MSG*/
.mensagem {
	text-align: center;
	color: #fff;
	background-color: #044255;
	padding: 10px;
}
.mensagem h3 {
	text-transform: uppercase;
	font-size: 1.3em;
	color: #fff;
}
/*list itens*/
.list-itens {
	background-color: #fff;
}
ul.features_list_detailed li .detalhes-list li {
	margin-bottom: 0 !important;
	color: #666;
}
/* Card list*/
.card-header {
	font-weight: bold;
	padding: 5px;
}
.card-content-inner {
	font-size: 1.4em;
	padding: 10px;
}
.featured-img {
	position: relative;
	overflow: hidden;
	height: 200px;
	margin-bottom: 10px;
	padding-top: 20px;
}
.featured-img h3 {
	position: absolute;
	bottom: 0;
	font-size: 2em !important;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	width: 100%;
	margin: 0 !important;
	font-weight: 200 !important;
}
.bar-header .button-dark {
	background-color: #0F333E !important;
	text-align: center;
	display: block;
	height: 75px;
	line-height: 70px !important;
	padding: 5px 20px !important;
}
.bar-header .button-dark i {
	text-align: center;
}
.panel .close {
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.15);
	left: 0;
	border: 0;
}
.panel .close i{
	padding: 0 20px;
	color: #D82650;
}
.popover ul li {
	padding: 0;
	margin: 0;
	border: 0;
}
.popover ul li a {
	font-size: 1.4em;
	color: #055D78;
}
.produtos-em-destaque {
	position: relative !important;
	right: 0 !important;
	width: 100%;
	margin-top: 20px;
}
.search_submit, .produtos-em-destaque {
	border: none;
	background: none;
	/*float: right;*/
	padding: 19px;
	background-color: #00A09A;
	color: #fff;
	right: 109px;
	top: 0;
	position: absolute;
}

.imposto-produto {
	position: relative !important;
	right: 0 !important;
	width: 90%;
	margin-left: 10px;
	border: none;
	background: none;
	/*float: right;*/
	padding: 10px;
	height: 40px;
	background-color: #00A09A;
	color: #fff;
	top: 0;
	position: absolute;
	border-radius: 4px;
}

.in-estado{
	height: 40px;
	width: 100%;
	background-color: #FFFFFF;
	border: 1px solid;
	border-color: #CFCFCF;
	border-radius: 4px;
}

.tabela-precos {
	position: relative !important;
	right: 0 !important;
	width: 100%;
	margin-top: 20px 20px 0px 0px;
	border: none;
	background: none;
	/*float: right;*/
	padding: 19px;
	background-color: #00A09A;
	color: #fff;
	right: 109px;
	top: 0;
	position: absolute;
}

.mt-1{padding-top: 20px;}
.mt-2{margin-top: 10px;}

input[type="text"].search_input {
	width: 85%;
	border: none;
	background-color: #DEDEDE;
	color: #000;
	padding: 38px 0;
	font-size: 17px;
    line-height: 37px;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	padding-top: 0 !important;
	height: auto !important;
}
.searchform {
	position: relative;
}
.bt-barcode {
	padding: 4px 30px;
	background-color: #A7CC3A;
	color: #fff;
	right: 0;
	top: 0;
	position: absolute;
	font-size: 49px;
	line-height: 0;
	border: none;
}
.popup-overlay {
    display: none;
}
.popup.modal-in, .login-screen.modal-in {
	z-index: 9999;
}
.clientes .search_submit {
	right: 0;
	width: 15%;
}
.paragraph_white {
	color: #fff;
}
p.paragraph_white {
	padding: 15px 3% !important;
}
.inline-list {
}
.inline-list li {
	float: none !important;
	width: auto !important;
	display: inline-block !important;
	margin-right: 10px !important;
	color: #5A5A5A;
}
.clientes ul.features_list_detailed li .feat_small_details {
	width: 90%;
}
.clientes ul.features_list_detailed li .feat_small_details h4 {
	margin-top: 15px;
	text-align: left;
}
.cotacoes-list h4 {
	font-size: 1.2em;
}
.intro-text {
	font-size: 1.4em;
	text-align: center;
	margin-bottom: 10px;
	color: #fff;
	line-height: 23px;
}
.intro-text em {
	font-size: 0.5em;
	font-weight: normal;
}
a.form_submit {
	  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 50px;
}
a.form_submit i {
	margin-right: 20px;
}
.saveEdit {
	display: none;
	position: fixed;
	padding: 20px;
	background-color: #A8CB3A;
	z-index: 999;
	font-size: 2em;
	right: 0;
	top: 90px;
	color: #fff;
}
.forms form  ul li input, .forms form  ul li textarea, .forms form  ul li select {
	width: 100% !important;
	padding: 10px 0 !important;
	border: none;
	display: block;
	background-color: #fff;

}
.forms label {
	display: block;
	width: 100%;
}
.item-stacked-label {
	padding: 10px !important;
	border: none !important;
}
.item-stacked-label span {
	margin-bottom: 10px;
	font-size: 18px;
	color: #fff;
}
.radiobuttom .item-inner {
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}
.radiobuttom input:checked + .item-inner {
	background-color: #00B799 !important;
}
.label-switch input[type="checkbox"]:checked + .checkbox {
  background: #00B799;
}
.pdf i {
	color: #D82650;
}
.aberto {
	color: #D82650;
	font-weight: 800;
}
.pago {
	color: #4BAE30;
	font-weight: 800;
}
.picker-modal {
	background-color: #0D2A33;
}
.fechar-picker {
	position: absolute;
	top: -59px;
	padding: 20px 25px;
	background-color: #4BAE30;
	right: 0;
}
.fechar-picker i {
	color: #fff;
	margin: 0;
}
.popup p {
	font-size: 1.4em;
}
.posicao-financeira .card ul li {
	font-size: 18px;
	margin-bottom: 20px;
}
ul.popular_posts {
	padding: 0;
	width: 100%;
	margin: 0;;
}
ul.popular_posts li {
	padding: 10px 0;
	background-color: #0D2A33;
}
ul.popular_posts li a {
	margin-left: 10px;
}
ul.popular_posts li:last-child {
	border: none;
}
.picker-modal {
	position: fixed;
}
.exclude_btn {
	background-color: #D82650;
	    margin-top: 10px;
    color: #fff;
    font-weight: bold;
    border: none;
    font-size: 1.31em;
    padding: 20px 0 !important;
}

.action-sheet-options {
    background: #052C38 !important;
    padding-top: 10px;
}
.action-sheet-title, .action-sheet-title h4  {
    color: #FFFFFF !important;
}
.action-sheet-group .button {
    border: none;
    background-color: #14B599 !important;
    color: #fff !important;
    margin-bottom: 10px;
}
.action-sheet-group .button:first-child:last-child {
    border-width: 0;
    background-color: #C5233C !important;
    margin-bottom: 0;
}

.toggle-container {
	padding: 0 10px;
}
.toggle-container h3,  .toggle-container  label{
	color: #fff;
	display: inline-block;
	width: auto;
}
.toggle-container h3 {
	margin-right: 20px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
   padding: 10px !important;
   width: 100%;
}
.ng-pristine .item-content {
	white-space: normal !important;
}
